*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
#title{
    font-family: 'Rajdhani', sans-serif;
    background-color:  #FEBD42;
    text-align: center;
}

#canvas1{
    position: absolute;
    top: 120; left: 0;
    width: 100%;
    height: 100%;
    background: #FEBD42;

}